.form {
  width: 80%;
  height: 70px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  color: white;
  background: transparent;
  font-family: 'Noto Sans JP', sans-serif;
}


.form input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-size: 19px;
  padding-top: 22px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: none;
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 15px;
  color: #aaadac;
}

.form input:valid + .content-name {
  font-size: 1px;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid white;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 4px solid #7ccbff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.form .content-name {
  position: absolute;
  bottom: 5px;
  left: 4px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #1C1E2B;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.glass{
  width: 600px;
}

.glass .button {
  width: 140px;
  margin: 0 auto;
  height: 45px;
  margin-top: 27px;
  display: block;
  position: relative;
  -webkit-transition: all .3s .45s;
  transition: all .3s .45s;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
  font-size: 18px;
  background: transparent;
  color: white;
  outline: none;
  border: 0px solid black;
}

.glass .button::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  width: 10px;
  height: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: transparent;
}

.glass .button::before {
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  content: "";
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 10px;
  height: 10px;
  background: transparent;
  right: 0;
  bottom: 0;
}

.glass .button:hover::before, .glass .button:hover::after {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.glass .button:hover {
  background: #5ab2ec;
  -webkit-box-shadow: 0px 0px 50px #5ab2ec;
          box-shadow: 0px 0px 50px #5ab2ec;
}

.glass .register {
  width: 160px;
  margin-left: auto;
  height: 48px;
  margin-top: 27px;
  display: block;
  position: relative;
  -webkit-transition: all .3s .45s;
  transition: all .3s .45s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background: transparent;
  color: white;
  outline: none;
  border: 0px solid black;
  text-align: center;
  text-decoration: none;
}

.glass .register::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0px;
  border-top: 3px solid white;
  width: 100%;
  height: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: transparent;
}

.glass .register:hover::before, .glass .register:hover::after {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */