.error{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
}
body{
	color:rgb(0, 0, 0);
	font-family: 'Titillium Web', sans-serif;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: white;
	background: #1C1E2B;;
	display: flex;
	align-items: center;
	justify-content: center;
}
form{
	background: rgba(44, 39, 39, 0.294);
	z-index: 1;
	backdrop-filter: blur(13px);
	width: min-content;
}
.container{
	filter: blur(0px);
	z-index: 2;
	text-transform: uppercase;
	background: transparent;
	width: min-content;
}
label{
	font-size: 12px;
}
input{
	text-align: center;
	border-radius: 5px;
	width: 300px;
	color: rgb(255, 255, 255);
	background: rgba(144, 201, 228, 0.5);
	border: 0px solid black;
	height: 25px;
	font-size: 17px;
}
input[type='checkbox']{
	background: rgba(8, 62, 87, 0.5);
	width: 20px;
	height: 14px;
	border: 0px solid black;
	margin-top: 10px;
}
input[type='submit']{
	height: 30px;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	color: rgb(255, 255, 255);
}
input[type='submit']:hover{
	background: rgba(19, 98, 134, 0.5);
	cursor: pointer;
}